.profile {
    padding: 40px 0 45px;
    color: #fff;
    display: grid;
    grid-template-columns: 120px 1fr 1fr;
    gap: 30px;
    align-items: center;
}
@media screen and (max-width: 867px) {
    .profile {
        text-align: center;
    }
}

@media screen and (max-width: 600px) {
    .profile {
        width: calc(100% - 16px*2);
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
    }
}