.popup__button {
    height: 50px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    background: #000000;
    border-radius: 2px;
    border: none;
    color: white;
    margin: 48px 0 37px;
}
.popup__button:hover {
    opacity: .6;
    cursor: pointer;
}