.logo{
    max-width: 142px;
    max-height: 33px;
    margin-top: 45px;
}
@media screen and (max-width: 880px) {
    .logo {
        margin-left: 27px;
    }
}
@media screen and (max-width: 424px) {
    .logo {
        max-width: 104px;
        max-height: 24px;
        margin-top: 28px;

    }
}