.popup__close {
    background-image: url(../../../images/Close-Icon.svg);
    position: absolute;
    top: -40px;
    right: -40px;
    width: 32px;
    height: 32px;
    border: none;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
}
.popup__close:hover {
    opacity: .6;
    cursor: pointer;
}
@media screen and (max-width: 500px) {
    .popup__close {
        width: 20px;
        height: 20px;
        right: 0;
    }
}