.popup__content-avatar {
    max-width: 430px;
    width: 100%;
    background: #fff;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
  }
  
  @media screen and (max-width: 550px) {
    .popup__content-avatar {
        max-width: 320px;
    }
  }
  
  @media screen and (max-width: 424px) {
    .popup__content-avatar {
        max-width: 282px;
    }
  }